.settings {
  border: 1px solid #0dd7fa;
  border-radius: 10px;
  color: #0dd7fa;
  height: fit-content;
}

.value {
  display: flex;
  justify-content: space-between;
  padding: 0.7em;
  flex-wrap: wrap;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
}

.value input {
  border-radius: 5px;
  border: 2px solid #0dd7fa;
  font-weight: bold;
  text-align: center;
  padding: 0.6em;
}

.value input:focus {
  outline: #0dd7fa;
}

.default {
  border: 1px solid #0dd7fa;
  border-radius: 10px;
  margin: 1em;
}

.red {
  border: 2px solid red !important;
  outline-color: red;
  background-color: #bd6262;
}

.buttons {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #0dd7fa;
  height: 85px;
  align-items: center;
  margin: 1.5em;
  padding: 0 2em;
}