.settings {
  border: 1px solid #0dd7fa;
  border-radius: 10px;
  color: #0dd7fa;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 330px;
  max-width: 436px;
}

.value {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.value input {
  border-radius: 5px;
  border: 2px solid #0dd7fa;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin: 0 0 0 20px;
}

.value input:focus {
  outline: #0dd7fa;
}

.default {
  border: 1px solid #0dd7fa;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.red {
  border: 2px solid red !important;
  outline-color: red;
  background-color: #bd6262;
}

.buttons {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #0dd7fa;
  height: 85px;
  align-items: center;
}