.display {
  border: 1px solid #0dd7fa;
  border-radius: 10px;
  color: #0dd7fa;
  height: fit-content;
}

.default {
  font-size: 72px;
  font-weight: bold;
  padding: 25px 0;
  border: 1px solid #0dd7fa;
  border-radius: 10px;
  margin: 0.3em;
}

.red {
  color: red;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.5em;
  border-radius: 10px;
  border: 2px solid #0dd7fa;
  height: 85px;
  align-items: center;
  padding: 0 2em;
}
