.display {
  border: 1px solid #0dd7fa;
  border-radius: 10px;
  color: #0dd7fa;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 330px;
  max-width: 436px;
  width: 100%;
}

.default {
  font-size: 72px;
  font-weight: bold;
  border: 1px solid #0dd7fa;
  border-radius: 10px;
  align-items: center;
  height: 170px;
  word-break: break-word;
}

.message {
  font-size: 30px;
  word-break: break-word;
  padding: 5px;
  display: flex;
}

.red {
  color: red;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 10px;
  border: 2px solid #0dd7fa;
  height: 85px;
  align-items: center;
}
